extends layout 

block content
    main(class="px-2 py-4 text-center") 
        button(class="p-2 mt-2 border border-black rounded-md")  
            a(href=`${currentPath}/create`) Add #{categoryName}

        if isListOfModels
            each instrument in instrumentTypes
                ul(class="my-4 text-2xl font-bold") #{instrument.name}:
                    each model in allModels
                        if model.instrument.name === instrument.name
                            li(class="my-2 text-lg font-normal hover:text-slate-500")
                                a(href=model.url) #[b #{model.manufacturer.name}] #{model.name}
        else
            h2(class="my-4 text-3xl font-bold") All #{categoryName}s
            ul(class="text-lg") 
                each entry in categoryEntries
                    li(class="my-2 hover:text-slate-500")
                        a(href=entry.url)= entry.name