extends ../details 

block inStockList 
    each instrument in instrumentsInStock 
        a(href=instrument.url class="hover:bg-slate-200 w-[85vw] sm:max-w-xs")
            button(class="border border-slate-500 rounded-lg p-2 w-full min-h-[150px]")
                h2(class="text-lg text-center") #[strong #{instrument.model.name}] - #{instrument.serial}
                p #[strong Category:] #{instrument.model.instrument.name}
                p #[strong Condition:] #{instrument.condition}
                if instrument.colour 
                    p #[strong Colour:] #{instrument.colour}
                if instrument.material
                    p #[strong Material:] #{instrument.material}
    else 
        p(class="text-center col-span-full") None of these instruments currently in stock!
